body{
  font-family: sans-serif;
}
.sectie{
  border: 1px solid blue;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em;
}
.sectie--achtergrond{
  padding: 30vh 3em;
  background-size: cover;
  overflow-x: hidden;
}
.sectie--2{
  background-image: url("driehoek.png");
}
.sectie--4{
  background-image: url("driehoek2.png");
}
.sectie--4 span{
  transition: margin-left 1s ease-out;
}
.sectie--4 span:nth-child(2){
  color: red;
}
.sectie--4__kop span:nth-child(1){
  margin-left: -100px;
}
.sectie--4__kop span:nth-child(2){
  margin-left: 2000px;
}
.sectie--4__kop span:nth-child(3){
  margin-left: 3000px;
}
.sectie--6{
  background-image: url("driekant.jpg");
}
